@import url(./nav.css);
@import url(./header.css);
@import url(./metricas.css);
@import url(./vagasTop.css);

:root{
    --fonte-principal: "inter";

    --cor-branca: #FFFFFF;
    --cor-vermelho-escuro: #8E2424;
    --cor-vermelho-claro: rgba(142, 36, 36, 0.05);

    --cor-azul_escuro: #3A404E;
    --cor-azul-cinzado: #667085;
    --cor-azul-darkness: #101828;

    --cor-cinza: rgb(176, 173, 173);
}

*{
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    font-weight: 400;
}

body{
    font-family: var(--fonte-principal), sans-serif;
    background-color: var(--cor-cinza);
}